<div class="esd-text">
    <h2 style="color: #242424;"><span style="font-size:30px;"><strong>Please activate your Email</strong></span><br></h2>
</div>

<p style="color: #242424;">Hi Josh, we've received order № A12094653 and are working on it now.<br></p>
<p style="color: #242424;">We'll email you an update when we've shipped it.<br></p>

<div class="esd-block-button es-p15t es-p15b es-p10r es-p10l" align="center">
    <span class="es-button-border" style="border-radius: 20px; background: #191919 none repeat scroll 0% 0%; border-style: solid; border-color: #2cb543; border-width: 0px;">
        <a href="https://viewstripo.email/" class="es-button" target="_blank" style="border-radius: 20px; font-family: lucida sans unicode,lucida grande,sans-serif; font-weight: normal; font-size: 18px; border-width: 10px 35px; background: #191919 none repeat scroll 0% 0%; border-color: #191919; color: #ffffff;">
            Activate
        </a>
    </span>
</div>
